<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glassgameflappybird"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application android:allowBackup="true">
        
        
        
         <activity android:name="com.example.glassgameflappybird.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="Flappy Bird"
            android:exported="true" >
            <intent-filter>
                
     <!--      <action android:name="android.intent.action.MAIN" /> -->
                 <action android:name="com.google.android.glass.action.VOICE_TRIGGER" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_play_a_game" />
        </activity>

        
    </application>

</manifest>
